@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.pb-dashboard {
  padding-bottom: 75%; /* Adjust based on your desired aspect ratio */
}

@media (min-width: 768px) {
  .pb-dashboard {
    padding-bottom: 56.25%; /* 16:9 aspect ratio for larger screens */
  }
}